.navbar-default.wg-header {
  background: #4285F4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  height: 65px;
  border: 0;
  border-radius: 0;

  .wg-header-inner {
    list-style: none;
    padding: 15px 0;
    margin-top: 0;
    margin-bottom: 9px;

    .logo {
      a {
        color: #fff;
        text-transform: uppercase;
        padding: 6px 10px;
        display: block;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .wg-header-menu{
    list-style: none;
    padding: 0;

    li{
      position: relative;

      a.wg-settings{
        background-image: url(http://2sharings.com/demo/ui/material_angular/img/icons/ellipsis.png);
      }

      a{
        height: 35px;
        min-width: 50px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
      }
    }
  }
}