.panel.login-panel {
  margin-top: 50px;
  position: relative;
  padding-top: 20px;

  .panel-body {
    img {
      position: absolute;
      height: 80px;
      border: 5px solid #fff;
      top: -50px;
      left: 50%;
      margin-left: -50px;
      box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.18);
    }
  }
}